    *,
    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    
    .categorias {
        display: inherit;
    }
    
    .elementor-2450 .elementor-element.elementor-element-5f4cb5f.elementor-wc-products ul.products li.product:hover .button {
        color: #fff;
        background-color: #f63;
        border-color: #fff;
    }
    
    a:hover {
        color: #ee3048;
    }
    
    .usuario:hover {
        color: #ee3048;
    }
    
    .carrito:hover {
        color: #ee3048;
    }
    
    nav {
        width: 100%;
    }
    
    .MenuSuperior {
        width: 100%;
        background-color: #0047ba;
        height: 9vh;
        overflow-y: hidden;
    }
    
    nav img {
        width: 10vw;
        margin-left: 2vw;
        float: left;
        margin-bottom: 5vh;
    }
    
    .botton {
        position: absolute;
        margin-top: 3.7vh;
        margin-left: .5vw;
        background-color: transparent;
        height: 2.5vh;
        width: 1.2vw;
    }
    
    input[type="search"] {
        display: block;
        float: left;
        margin-top: 2.5vh;
        margin-left: 2vw;
        height: 4.5vh;
        width: 37vw;
        border-radius: 3vw;
        border-color: transparent;
        outline: none;
        text-align: 2vw;
        color: grey;
        padding-left: 20px;
        font-family: 'Varela Round', sans-serif;
    }
    
    .usuario {
        margin-left: 42.3vw;
        margin-top: 3.2vh;
        font-size: 1.4vw;
        color: whitesmoke;
        cursor: pointer;
    }
    
    .carrito {
        margin-top: 0vh;
        margin-left: 1.5vw;
        font-size: 1.4vw;
        color: whitesmoke;
        cursor: pointer;
    }
    
    .MenuInferior {
        width: 100%;
        border-bottom: 1px solid #0047ba;
        border-right: 1px solid #0047ba;
        border-left: 1px solid #0047ba;
        height: 9vh;
    }
    
    .MenuInferior a {
        float: right;
        text-decoration: none;
        margin-right: 2vw;
        margin-top: 3vh;
    }
    
    a {
        font-size: .9vw;
        margin-right: 5vw;
        font-family: 'Varela Round', sans-serif;
        color: #484240;
        font-weight: bold;
    }
    
    @media screen and (max-width:720px) {}