html {
    box-sizing: border-box;
    height: 100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    min-height: 100%;
}
.swal2-shown aside {
    height: 100vh;
}
/** Login **/

.login{background-color: #0047ba;}
.contenedor-formulario {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.contenedor-formulario .logoI{
    display: block;
    margin: auto;
    width: 40%;
}
.contenedor-formulario div img{
    width: 100%;
}

.contenedor-formulario h1 {
    text-align: center;
    color: #0047ba;
    font-size: 50px;
}
.contenedor-formulario h1 {
    font-weight: 400;
    font-size: 1.2rem;
}
.caja-login {
    background-color: #F2F2F2;
    border: 1px solid #707070;
    max-width: 650px;
    width: 90%;
    margin: 0 auto;
    min-height: 300px;
    -webkit-box-shadow: 0px 25px 35px -17px rgba(0,0,0,0.56);
    -moz-box-shadow: 0px 25px 35px -17px rgba(0,0,0,0.56);
    box-shadow: 0px 25px 35px -17px rgba(0,0,0,0.56);
    padding: 3rem;
}
.logo{width: 10%;}
.logo img{width: 100%;}
.campo {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
}
.campo label {
    flex: 0 0 100px;
    text-align: right;
    padding-right: 1rem;
    color: #0047ba;
}
.campo input[type="text"],
.campo input[type="password"] {
    height: 3rem;
    border: 0;
    flex: 1;
    border: 1px solid #455A64;
    border-radius: 5rem;
    padding-left: 2rem;
}
.enviar {
   justify-content: flex-end;
}
.boton {
    background-color: #0047ba;
    text-align: center;
    transition: background-color .5s ease-in-out;
    display: block;
    padding: .8rem 1.5rem;
    text-transform: uppercase;
    font-weight: 400;
    border: none;
    font-weight: 900;
    border-radius: 15px;
    color: white;
}
.boton:hover {
    cursor: pointer;
    background-color: #3266b3;
}
#adProdu{
    display: none;
    font-size: .7rem;
    background-color: #b9324f;
    padding: .7rem 1rem;
    margin-top: 2vh;
}
#adProdu:hover{background-color: #aa1818!important;}
.campo a {
    color: white;
    text-decoration: none;
}

/** Barra **/
body.index {
    height: 100vh;
}
.barra {
    background-color: #163e7e;
    padding: 1rem;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.barra h1 {
    color: white;
    margin:0;
    font-size: 1.4rem;
}
.barra a {
    margin-left: 2vw;
    padding: .6vh 1vw;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 1vw;
    border-radius: 3vw;
    cursor: pointer;
    transition: .5s all ease;
}
.barra a:hover{
    background-color: #fff;
    color: #ee3048;
    border: 1px solid #ee3048;

}

/*** sidebar**/
.contenedor-proyectos {
    min-height: 100vh;
    max-width: 300px;
    background-color: #455A64;
    padding-top: 1rem;
}
.panel {
    padding: 1rem;
    margin: 1rem;
}
.panel a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.crear-proyecto a {color: white;}
.lista-proyectos ul{
    list-style: none;
    padding: 1.5rem 0 0 0;
    margin: 0;
}
.lista-proyectos ul li {margin-bottom: 1rem;}


/** Contenido Principal */
.contenedor {
    display: flex;
    height: calc( 100% - 60px);
}
.contenido-principal {
    flex: 1;
    padding: 1rem;
    overflow: scroll;
}
.contenido-principal h1,
.contenido-principal h2 {
    text-align: center;
}
.contenido-principal h1 {
    font-size: 1.8rem;
}
.contenido-principal h2 {
    font-size: 1.4rem;
    margin-top: 2rem;
}
.contenido-principal h1 span {
    font-weight: 400;
}
.agregar-tarea {
    max-width: 800px;
    width: 90%;
    background-color: #607D8B;
    margin: 0 auto;
    padding: 2rem;
    color: white;
    transition: background-color .5s ease-in-out;
}

/** Listado Pendientes **/
.listado-pendientes {
    background-color: #F2F2F2;
    max-width: 800px;
    width: 90%;
    margin: 2rem auto 0 auto;
    padding: 2rem;
    border: 1px solid #999;
}
.listado-pendientes ul {
    padding: 0;
    list-style: none;
    clear: both;
}
.listado-pendientes ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    border-bottom: 1px solid #d1d1d1;
}
.listado-pendientes ul li:last-of-type {border-bottom: none;}
.listado-pendientes ul li i {
    cursor: pointer;
    float: left;
}
.productos .pagination{
    display: block;
    text-align: center;
}
.productos .pagination li{
    display: inline-block;
    margin: 0 .1rem;
    padding: .5rem .5rem;
    background-color: #b9324f;
    border-radius: 100vw;
    clear: both;
    transition: .4s ease all;
}
.productos .pagination li a{
    text-decoration: none;
    color: white;
}
.productos .pagination li:hover{background-color: #aa1818;}
.productos .pagination .active{background-color: #3266b3;}
.acciones i:last-child{margin-left: 3rem;}
.alerta {
    background-color: red;
    padding: .5rem;
    text-align: center;
    color: white;
    font-size: 1.2rem;
}
.productos .acciones a{
    padding: 0;margin: 0;
    color: black;
    text-decoration: none;
}
.productos .acciones a i{margin: 0;padding: 0;}
.actCat{display: none;}
.actCat .Catactualizado{width: 55%;}
.act{padding: .5rem 1.5rem;
font-size: 14px;float: right;}
.productos{max-width: 1200px;}
.productos .cont-img{width: 10%;}
.productos .cont-img img{width: 100%;}
.productos ul li #tituloCat{width: 35%;}
.productos ul li #marca{width: 20%;text-align: left;}
.productos ul li #stock{width: 10%;text-align: left;}
.productos span{
    display: block; 
    font-family: 'Lato', sans-serif;
    float: right;
    margin-bottom: 1rem;
    margin-right:16%;
    font-size: 1.4rem;
    overflow: hidden;
    color: #163e7e;
}
.productos span:first-of-type{margin-right: 18%;}
.pedidos ul li #id{width: 10%;}
.pedidos ul li #tituloCat{width: 25%;}
.pedidos ul li #marca{width: 20%;}
.pedidos ul li #stock{width: 15%;}
.pedidos .titulos{margin: 0;padding: 0;}
.pedidos .titulos h3{display: inline-block; margin-left: 3%;font-size: 1.4rem;font-weight: 300;color: #163e7e;}
.pedidos .titulos h3:first-of-type{width: 14%;}
.pedidos .titulos h3:nth-of-type(2){width: 24%;}
.pedidos .titulos h3:nth-of-type(3){width: 19%;}
.pedidos .titulos h3:nth-of-type(4){width: 10%;}
.pedidos .acciones{margin: 0;width: 10%;}
.pedidos .acciones i{margin: 0;}


/*Formulario*/
.cont-form{
    display: block;
    clear: both;
}
.contacto{
    display: block;
    margin: auto;
    width: 40%;
    clear: both;
}
.cont-form .contacto div{
    width: 100%;
    clear: both;
}
.contacto input:not([type="submit"]),
.contacto select {
    display: block;
    float: left;
    width: 65%;
    padding: 1vh 1vw;
    background-color: #e1e1e1;
    margin-bottom: 3vh;
    margin-left: 1%;
    border: none;
    border-radius: 1rem;
}
label{
    display: block;
    float: left;
    font-family:'Varela Round', sans-serif ;
    color: #484240;
    font-size: 1vw;
    width: 30%;
}
.contacto input[type="submit"]{
    font-family: 'Lato', sans-serif;
    display: block;
    text-align: center;
    margin-top: 5vh;
    padding: 1.5vh 2vw;
    border-radius: 3rem;
    border: 1px solid transparent;
    background-color: #cc2a3f;
    float: right;
    color: #fff;
    font-size: 100%;
    transition: .4s all ease;
    cursor: pointer;
}
.contacto input[type="submit"]:hover{
    background-color: #0047ba;
    border: 1px solid #fff;
}
.contacto div p{float: left; font-size: 12px;color: #707070;display: block;}
.contacto input[type="checkbox"]{
    width: 5%;margin-right: 5%;padding: 1vw;
}
.alert {
    display: none;
    width: 90%;
    padding: .5rem 0;
    border-radius: 3em;
    margin: auto;
    margin: 2vh auto;
    background-color: #e08398;
    text-align: center;
    color: #aa1818;
    font-size: 1.1rem;
    clear: both;
}
.cont-form .contacto .cont-imagen{width: 20%;margin: 0;margin-bottom: 5vh;}
.cont-form .contacto .cont-imagen img{width: 100%;}

.completo{color: #00B762;}